@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap')
@tailwind base
@tailwind components
@tailwind utilities


@layer components

    .font-main
        @apply font-sans
        font-family: Poppins

    .bg-dots
        background: radial-gradient(rgba(0, 0, 0, 0.3) 1px, transparent 0)
        background-size: 10px 10px

    .greyscale
        filter: grayscale(100%)

    .slide_1
        background-image: url(/images/slide/slide_1_639.webp), url(/images/slide/slide_1_639.jpg)
        @screen sm
            background-image: url(/images/slide/slide_1_767.webp), url(/images/slide/slide_1_767.jpg)
        @screen md
            background-image: url(/images/slide/slide_1_1023.webp), url(/images/slide/slide_1_1023.jpg)
        @screen lg
            background-image: url(/images/slide/slide_1_1279.webp), url(/images/slide/slide_1_1279.jpg)

    .slide_2
        background-image: url(/images/slide/slide_2_639.webp), url(/images/slide/slide_2_639.jpg)
        @screen sm
            background-image: url(/images/slide/slide_2_767.webp), url(/images/slide/slide_2_767.jpg)
        @screen md
            background-image: url(/images/slide/slide_2_1023.webp), url(/images/slide/slide_2_1023.jpg)
        @screen lg
            background-image: url(/images/slide/slide_2_1279.webp), url(/images/slide/slide_2_1279.jpg)
