@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap')
@tailwind base
@tailwind components
@tailwind utilities


@layer components

    .main-font
        @apply font-sans
        font-family: Poppins

    .handwritten-font
        font-family: 'Dancing Script', cursive

    .bg-dots
        background: radial-gradient(rgba(0, 0, 0, 0.3) 1px, transparent 0)
        background-size: 10px 10px

    .greyscale
        filter: grayscale(100%)
